/* body wrapper */
.container {
  width: 80%;
  margin: 0 auto;
}

/* margin for tables */
.playersTable,
.teamPlayerTable {
  margin: 20px 0;
}

.team-header {
  display: flex;
  justify-content: space-between;
}

.player-select {
  margin-bottom: 10px;
}

.button-group {
  display: flex;
  justify-content: center;
}

.button-group button {
  margin: 0 10px;
}
